@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  font-weight: 400;
}

p {
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #202938;
  overflow-x: hidden;
}

h1 {
  font-size: 4.4rem;
  margin-bottom: 3rem;
}
h1 a, h1 em {
  font-style: italic;
  color: #B49564;
  text-decoration: none;
  position: relative;
}
h1 a:after, h1 em:after {
  top: 100%;
  left: 0;
  display: block;
  position: absolute;
  width: 0;
  height: 3px;
  background: #B49564;
  content: "";
  transition: all 0.3s ease-in;
}
h1 a:hover:after, h1 em:hover:after {
  width: 100%;
  transition: all 0.3s ease-in;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

p {
  font-size: 1.8rem;
}

.col-3 {
  flex: 0 0 22%;
}

.col-4 {
  flex: 0 0 30.6666667%;
}

.col-5 {
  flex: 0 0 38.3333333333%;
}

.col-6 {
  flex: 0 0 48%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 4%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main__buttons {
  display: flex;
  column-gap: 1.6rem;
}

header {
  padding: 4rem 0;
}
header .container {
  justify-content: space-between;
  align-items: center;
}
header .container button {
  display: none;
}
header .container nav ul {
  list-style: none;
  display: flex;
  column-gap: 2rem;
}
header .container nav ul li {
  font-size: 1.8rem;
}
header .container nav ul li a {
  color: #202938;
  text-decoration: none;
}
header .container nav ul li a:hover {
  text-decoration: underline;
}

body.home main {
  margin-bottom: 8rem;
}
body.home main .container {
  align-items: center;
}
body.home main .container .seal-container {
  position: relative;
}
body.home main .container .seal-container #seal {
  position: absolute;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 3rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  background: white;
  top: 50%;
  margin-top: -135px;
  right: -30px;
}
body.home main .container .seal-container #seal span.years {
  display: block;
  font-size: 1.4rem;
  color: #202938;
}
body.home main .container .seal-container #seal span.years:after {
  content: "";
  margin-top: 4px;
  width: 38px;
  height: 2px;
  background: #202938;
  display: block;
}
body.home main .container .seal-container #seal img {
  max-width: 45px;
}
body.home main .container .seal-container #seal p {
  font-size: 2rem;
}
body.home main .container .seal-container #seal p strong {
  font-size: 6rem;
  font-family: "PT Serif", serif;
  font-weight: 400;
  display: block;
  line-height: 1;
}
body.home main .container p {
  margin-bottom: 3rem;
}
body.home blockquote {
  background: #E6E6E6;
  padding: 7rem 0;
  text-align: center;
}
body.home blockquote .container {
  justify-content: center;
}
body.home blockquote .container p {
  font-size: 2.8rem;
}
body.home blockquote .container cite {
  font-size: 3rem;
  font-family: "PT Serif", serif;
  color: #B49564;
  font-style: italic;
}
body.home .home-areas {
  padding: 8rem 0;
}
body.home .home-areas h2 {
  margin-bottom: 2rem;
}
body.home .home-areas h2 + p {
  margin-bottom: 4rem;
}
body.home .home-areas__area {
  border: 1px solid #D9D9D9;
  padding: 5rem 3rem;
}
body.home .home-areas__area a {
  text-decoration: none;
}
body.home .home-areas__area a h3 {
  margin-top: 3rem;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  color: #202938;
}

.footer {
  padding: 8rem 0 3rem;
  background: #202938;
  color: white;
}
.footer__links + .footer__links {
  margin-top: 4rem;
}
.footer h3 {
  color: #B49564;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.footer h3 + a, .footer h3 + address {
  color: white;
  font-size: 1.6rem;
}
.footer h3 + address {
  font-style: normal;
  line-height: 1.5;
}
.footer h3 + a {
  text-decoration: none;
}
.footer h3 + a:hover {
  text-decoration: underline;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.footer ul li {
  color: white;
  font-size: 1.6rem;
}
.footer ul li a {
  color: white;
  text-decoration: none;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer .copyright {
  margin-top: 12rem;
}
.footer .copyright > .col-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .copyright > .col-12 p {
  color: #667186;
  font-size: 1.4rem;
}
.footer .copyright > .col-12 p a {
  margin-left: 2.4rem;
  vertical-align: middle;
}

.call-to-action {
  background: #DBE1E9;
  display: flex;
  column-gap: 4%;
  padding: 5rem;
  margin: 8rem 0;
  position: relative;
  width: 100%;
}
.call-to-action .col-7 {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.call-to-action .col-5 img {
  position: absolute;
  bottom: 0;
  right: 5rem;
  max-width: 380px;
}

.about-main {
  display: flex;
  flex-direction: column;
}

.about-data_col {
  margin: 6rem 0;
  text-align: center;
  padding: 2rem;
}
.about-data_col h3 {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
}
.about-data_col h3 strong {
  font-size: 7rem;
  color: #B49564;
  display: block;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

.about-info {
  padding: 9rem 0;
  background: #E6E6E6;
}
.about-info h3 {
  font-size: 3.5rem;
}
.about-info h3 em {
  color: #B49564;
}

.about-fotos {
  padding: 9rem 0;
}
.about-fotos__slider {
  margin-top: 3rem;
  overflow-x: scroll;
}

.single-areas-atuacao main.area-atuacao .container h1 {
  color: #B49564;
  font-style: italic;
}
.single-areas-atuacao main.area-atuacao .container img {
  margin-bottom: 4rem;
}
.single-areas-atuacao .area-list {
  padding: 8rem 0;
}
.single-areas-atuacao .area-list_item {
  border: 1px solid #E6E6E6;
  padding: 2.5rem;
  text-align: center;
}
.single-areas-atuacao .area-list_item img {
  margin-bottom: 1.75rem;
}
.single-areas-atuacao .area-speciality {
  background: #F5F5F5;
  padding: 9rem 0;
}
.single-areas-atuacao .area-speciality h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.single-areas-atuacao .area-speciality details {
  padding: 1.75rem 0;
  border-bottom: 2px solid #D9D9D9;
}
.single-areas-atuacao .area-speciality summary {
  font-size: 2.25rem;
  color: #B49564;
  font-family: "PT Serif", serif;
}
.single-areas-atuacao .area-speciality summary + p {
  margin-top: 1.5rem;
}

.main-equipe {
  padding: 3rem 0 8rem;
}
.main-equipe h1 {
  font-size: 3.5rem;
}

.equipe {
  margin-bottom: 8rem;
}
.equipe h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.equipe__pessoa {
  background: #F5F5F5;
  padding: 3rem;
}
.equipe__pessoa h3 {
  font-size: 2rem;
  color: #B49564;
  margin-bottom: 1.5rem;
}
.equipe__pessoa small {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
  display: block;
}
.equipe__pessoa ul {
  list-style-position: inside;
  margin-bottom: 1.25rem;
}
.equipe__pessoa ul li {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.25rem;
}
.equipe__pessoa__social-link {
  color: #B49564;
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
}
.equipe__pessoa__social-link + .equipe__pessoa__social-link {
  margin-left: 1.25rem;
}
.equipe__pessoa__social-link:after {
  content: "↗";
  margin-left: 0.5rem;
}

.blog .container-posts time {
  display: block;
  font-size: 1.5rem;
  margin: 2.5rem 0 1.25rem;
  color: #B49564;
}
.blog .container-posts h2 {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
}
.blog .container-posts h2 a {
  text-decoration: none;
  color: #131313;
}
.blog .container-posts h2 a:hover {
  text-decoration: underline;
}

.main-contato {
  padding: 4rem 0 8rem;
}
.main-contato .container {
  justify-content: space-between;
}
.main-contato .container h1 {
  font-size: 4.8rem;
}
.main-contato .container h1 strong {
  font-style: italic;
  color: #B49564;
}
.main-contato .container form {
  margin-top: 4rem;
}
.main-contato .container form .form-input {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 2.4rem;
}
.main-contato .container form .form-input label, .main-contato .container form .form-input input, .main-contato .container form .form-input select, .main-contato .container form .form-input textarea {
  font-size: 1.6rem;
}
.main-contato .container form .form-input input[type=text], .main-contato .container form .form-input input[type=email], .main-contato .container form .form-input select, .main-contato .container form .form-input textarea {
  background: #F5F5F5;
  padding: 1rem 2rem;
  border: none;
}
.main-contato .container form .form-input textarea {
  min-height: 100px;
  resize: none;
}
.main-contato .container aside h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.main-contato .container aside address {
  margin-top: 2rem;
  font-size: 2rem;
  font-style: normal;
  max-width: 400px;
}
.main-contato .container aside hr {
  border: none;
  height: 5px;
  background: #F5F5F5;
  margin: 3rem 0;
}
.main-contato .container aside ul {
  list-style: none;
}
.main-contato .container aside ul li {
  font-size: 2rem;
}
.main-contato .container aside ul li + li {
  margin-top: 1rem;
}
.main-contato .container aside ul li a {
  color: #131313;
  text-decoration: none;
}

article#post .container {
  justify-content: center;
}
article#post .container .content-post {
  margin-bottom: 6rem;
}
article#post .container .content-post img {
  margin-bottom: 2.5rem;
}
article#post .container .content-post img.wp-post-image {
  margin-bottom: 5rem;
  height: auto;
}
article#post .container .content-post ul {
  margin: 3rem 0;
  list-style-position: inside;
  background: #F5F5F5;
  padding: 3rem;
}
article#post .container .content-post ul li {
  font-size: 1.8rem;
  line-height: 1.5;
}
article#post .container .content-post ul li + li {
  margin-top: 1.4rem;
}
article#post .container .content-post h2 {
  font-size: 3.2rem;
  color: #B49564;
  margin-bottom: 2.3rem;
}
article#post .container .content-post p {
  margin-bottom: 2.3rem;
}
article#post .container .content-post p a {
  color: #B49564;
  text-decoration: underline;
}

.breadcrumb {
  display: flex;
  list-style: none;
  column-gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}
.breadcrumb__item {
  font-size: 1.5rem;
}

.metabox {
  margin: 2.5rem 0;
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.metabox__date {
  font-size: 2rem;
  color: #B49564;
}
.metabox .post-categories {
  list-style: none;
}
.metabox .post-categories li {
  font-size: 1.2rem;
  color: white;
  background: #B49564;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}
.metabox .post-categories li a {
  color: white;
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  padding: 1.5rem 3rem;
  background: #F5F5F5;
}
.btn__primary {
  background: #202938;
  color: white;
}
.btn__secondary {
  background: #E6E6E6;
  color: #202938;
}

button.btn {
  cursor: pointer;
}

.link {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #B49564;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
}
.link:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #B49564;
  transition: all 0.2s ease;
  position: absolute;
  top: 100%;
  left: 0;
}
.link:after {
  content: "→";
  display: inline-block;
  margin-left: 1.4rem;
}
.link:hover:before {
  width: 100%;
  transition: all 0.2s ease;
}

@media screen and (max-width: 767px) {
  div[class^=col-] {
    flex: 0 0 100%;
  }
  h2 {
    font-size: 2.8rem;
  }
  body {
    overflow-x: hidden;
  }
  body.home main .container {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }
  body.home main .container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  body.home main .container .seal-container #seal {
    display: none;
  }
  body.home blockquote {
    padding: 3rem 0;
  }
  body.home blockquote .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  body.home blockquote .container p {
    font-size: 1.8rem;
  }
  body.home blockquote .container cite {
    font-size: 2rem;
  }
  body.home .home-areas .container {
    flex-direction: column;
    row-gap: 2rem;
  }
  body.home .home-areas__area {
    padding: 3rem;
  }
  body.home .home-areas__area a h3 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  header {
    overflow-x: hidden;
  }
  header .container nav, header .container .btn__primary {
    display: none;
  }
  header .container nav {
    display: flex;
    position: absolute;
    transition: all 0.2s ease-out;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: #202938;
    color: white;
    align-items: center;
    justify-content: center;
  }
  header .container nav ul {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
  header .container nav ul li {
    font-size: 2.4rem;
  }
  header .container nav ul li a {
    color: white;
  }
  header .container button {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    background: none;
    border: none;
    position: relative;
    z-index: 2;
  }
  header .container button .line {
    width: 30px;
    height: 2px;
    background: #202938;
    display: block;
  }
  header .container button.active + nav {
    right: 0;
    transition: all 0.2s ease-in;
  }
  header .container button.active .line {
    background: white;
  }
  .footer__links + .footer__links {
    margin-top: 3rem;
  }
  .footer .container {
    flex-direction: column;
    row-gap: 3rem;
  }
  .footer .container.copyright {
    margin-top: 5rem;
  }
  .footer .container.copyright > .col-12 {
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
  }
  .main__buttons {
    flex-direction: column;
    row-gap: 1.6rem;
  }
  .call-to-action {
    margin-top: 0;
    padding: 6rem 3rem 0;
    flex-direction: column;
    row-gap: 4rem;
  }
  .call-to-action .col-7 {
    max-height: fit-content;
  }
  .call-to-action .col-5 {
    max-height: fit-content;
  }
  .call-to-action .col-5 img {
    position: static;
    max-width: 100%;
  }
  article#post .container .metabox {
    column-gap: 2rem;
  }
  article#post .container .metabox__date {
    font-size: 1.6rem;
  }
  article#post .container .content-post h1 {
    font-size: 3.2rem;
  }
  article#post .container .content-post img.wp-post-image {
    margin-bottom: 3rem;
  }
  .about-main {
    flex-direction: column-reverse;
  }
  .about-main .container {
    flex-direction: column;
  }
  .about-main .container h1 {
    font-size: 3rem;
    margin: 2.5rem 0 1.8rem;
  }
  .about-data .container {
    flex-direction: column;
  }
  .about-data_col {
    margin: 3rem 0;
  }
  .about-data_col h3 {
    font-size: 2rem;
  }
  .about-data_col h3 strong {
    font-size: 5rem;
  }
  .about-info {
    padding: 7rem 0;
  }
  .about-info .container {
    flex-direction: column;
  }
  .about-info .container h3 {
    font-size: 2.8rem;
    margin-bottom: 2.25rem;
  }
  .about-fotos__slider .col-3 {
    flex: 0 0 33%;
  }
  .area-atuacao .container {
    flex-direction: column;
  }
  .area-atuacao .container h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .area-list .container {
    flex-direction: column;
    row-gap: 2rem;
  }
  .single-areas-atuacao .area-speciality .container {
    flex-direction: column;
  }
  .single-areas-atuacao .area-speciality .container h3 {
    font-size: 2.5rem;
    margin: 2rem 0 1rem;
  }
  .single-areas-atuacao .area-speciality .container summary {
    font-size: 1.8rem;
  }
  .single-areas-atuacao .area-speciality .container p {
    font-size: 1.6rem;
  }
  .main-equipe h1, .equipe h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .main-equipe .container, .equipe .container {
    flex-direction: column;
    row-gap: 2rem;
  }
  .main-equipe .container h2, .equipe .container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .blog .container-posts {
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 6rem;
  }
  .blog .container-posts h2 {
    font-size: 2rem;
  }
  .blog .container-posts a img {
    max-width: initial;
    width: 100%;
    height: auto;
  }
  .main-contato .container {
    flex-direction: column;
    row-gap: 7rem;
  }
  .main-contato .container h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .main-contato .container h2 {
    font-size: 2.5rem;
  }
}