.btn {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $secondary-font;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    padding: 1.5rem 3rem;
    background: $gray1;
    &__primary {
        background: $primary-color;
        color: $white;
    }
    &__secondary {
        background: $gray2;
        color: $primary-color;
    }    
}
button.btn {
    cursor: pointer;
}

.link {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: $secondary-color;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $secondary-color;
        transition: all 0.2s ease;
        position: absolute;
        top: 100%;
        left: 0;
    }
    &:after {
        content: "→";
        display: inline-block;
        margin-left: 1.4rem;
    }
    &:hover {
        &:before {
            width: 100%;
            transition: all 0.2s ease;
        }
    }
}

.wp_button {
    position: fixed;
    width: 60px;
    height: 60px;
    background: url(../img/wp_button.png) no-repeat center;
    bottom: 20px;
    right: 10px;
    z-index: 1;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
    border-radius: 50%;

}