@media screen and (max-width: 767px) {
    div[class^="col-"] {
        flex: 0 0 100%;
    }

    h2 {
        font-size: 2.8rem;
    }
    body {
        overflow-x: hidden;
        &.home {
            & main {
                & .container {
                    flex-direction: column-reverse;
                    row-gap: 3rem;
                    & h1 {
                        font-size: 3rem;
                        margin-bottom: 2rem;
                    }
                    & .seal-container {
                        & #seal {
                            display: none;
                        }
                    }
                }
            }
            blockquote {
                padding: 3rem 0;
                & .container {
                    padding-left: 6rem;
                    padding-right: 6rem;
                    & p {
                        font-size: 1.8rem;
                    }
                    & cite {
                        font-size: 2rem;
                    }
                }
            }
            & .home-areas {
                & .container {
                    flex-direction: column;
                    row-gap: 2rem;
                }
                &__area {
                    padding: 3rem;
                    & a {
                        & h3 {
                            font-size: 2rem;
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }

    header {
        overflow-x: hidden;
        & .container {
            & nav, .btn__primary {
                display: none;
            }
            & nav {
                display: flex;
                position: absolute;
                transition: all 0.2s ease-out;
                top: 0;
                right: 100%;
                width: 100%;
                height: 100vh;
                z-index: 1;
                background: $primary-color;
                color: white;
                align-items: center;
                justify-content: center;
                & ul {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 2rem;
                    & li {
                        font-size: 2.4rem;
                        & a {
                            color: $white;
                        }
                    }
                }
            }
            & button {
                display: flex;
                flex-direction: column;
                row-gap: 6px;
                background: none;
                border: none;
                position: relative;
                z-index: 2;
                & .line {
                    width: 30px;
                    height: 2px;
                    background: $primary-color;
                    display: block;
                }
                &.active {
                    + nav {
                        right: 0;
                        transition: all 0.2s ease-in;
                    }
                    & .line {
                        background: white;
                    }
                }
            }
        }
    }

    .footer {
        &__links {
            & + .footer__links {
                margin-top: 3rem;
            }
        }
        & .container {
            flex-direction: column;
            row-gap: 3rem;
            &.copyright {
                margin-top: 5rem;
                & > .col-12 {
                    flex-direction: column;
                    row-gap: 2rem;
                    align-items: flex-start;
                }
            }
        }
    }

    .main__buttons {
        flex-direction: column;
        row-gap: 1.6rem;
    }

    .call-to-action {
        margin-top: 0;
        padding: 6rem 3rem 0;
        flex-direction: column;
        row-gap: 4rem;
        & .col-7 {
            max-height: fit-content;
        }
        & .col-5 {
            max-height: fit-content;
            & img {
                position: static;
                max-width: 100%;
            }
        }
    }

    article#post {
        & .container {
            & .metabox {
                column-gap: 2rem;
                &__date {
                    font-size: 1.6rem;
                }
            }
            & .content-post {
                h1 {
                    font-size: 3.2rem;
                }
                & img {
                    &.wp-post-image {
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }

    .about-main {
        flex-direction: column-reverse;
        & .container {
            flex-direction: column;
            & h1 {
                font-size: 3rem;
                margin: 2.5rem 0 1.8rem;
            }
        }
    }
    .about-data {
        & .container {
            flex-direction: column;
        }
        &_col {
            margin: 3rem 0;
            & h3 {
                font-size: 2rem;
                & strong {
                    font-size: 5rem;
                }
            }
        }
    }

    .about-info {
        padding: 7rem 0;
        & .container {
            flex-direction: column;
            & h3 {
                font-size: 2.8rem;
                margin-bottom: 2.25rem;
            }
        }
    }

    .about-fotos {
        &__slider {
            & .col-3 {
                flex: 0 0 33%;
            }
        }
    }

    .area-atuacao {
        & .container {
            flex-direction: column;
            & h1 {
                font-size: 3rem;
                margin-bottom: 1.5rem;
            }
        }
    }
    .area-list {
        & .container {
            flex-direction: column;
            row-gap: 2rem;
        }
    }
    .single-areas-atuacao {
        & .area-speciality {
            & .container {
                flex-direction: column;
                & h3 {
                    font-size: 2.5rem;
                    margin: 2rem 0 1rem;
                }
                & summary {
                    font-size: 1.8rem;
                }
                & p {
                    font-size: 1.6rem;
                }
            }
        }
    }
    
    .main-equipe, .equipe {
        & h1 {
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
        & .container {
            flex-direction: column;
            row-gap: 2rem;
            & h2 {
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }
        }
    }

    .blog {
        & .container-posts {
            flex-direction: column;
            row-gap: 2rem;
            margin-bottom: 6rem;
            & h2 {
                font-size: 2rem;
            }
            & a {
                & img {
                    max-width: initial;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .main-contato {
        & .container {
            flex-direction: column;
            row-gap: 7rem;
            & h1 {
                font-size: 3rem;
                margin-bottom: 1.5rem;
            }
            & h2 {
                font-size: 2.5rem;
            }
        }
    }

    .page-areas {
        & .container {
            & + .container {
                flex-direction: column;
                row-gap: 2rem;
                
            }
        }
        &__area {
            padding: 2rem;
            & a {
                & img {
                    max-width: 40px;
                    display: block;
                    height: auto;
                }
                & h3 {
                    font-size: 2rem;
                }
            }
        }
    }
    
}
