* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: $gray1;
    font-family: $secondary-font;
    font-weight: 400;
    color: $primary-color;
}

h1 {
    font-size: 4.4rem;
    margin-bottom: 3rem;
    & a {
        font-style: italic;
        color: $secondary-color;
        text-decoration: none;
        position: relative;
        &:after {
            top: 100%;
            left: 0;
            display: block;
            position: absolute;
            width: 0;
            height: 3px;
            background: $secondary-color;
            content: "";
            transition: all .3s ease-in;
        }
        &:hover:after {
            width: 100%;
            transition: all .3s ease-in;
        }
    }
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 1.8rem;
    & + p {
        margin-top: 2rem;
    }
}

.col-3 {
    flex: 0 0 22%;
}

.col-4 {
    flex: 0 0 30.6666667%;
}

.col-5 {
    flex: 0 0 38.33333333333333%;
}

.col-6 {
    flex: 0 0 48%;
}

.col-12 {
    flex: 0 0 100%;
}

.img-fluid {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 4%;
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    padding: 4rem 0;
    & .container {
        justify-content: space-between;
        align-items: center;
        & button {
            display: none;
        }
        & nav {
            & ul {
                list-style: none;
                display: flex;
                column-gap: 2rem;
                & li {
                    font-size: 1.6rem;
                    & a {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

body.home {
    main {
        & .container {
            align-items: center;

            & .seal-container {
                position: relative;
                & #seal {
                    position: absolute;
                    max-width: 240px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1.5rem;
                    padding: 3rem;
                    box-shadow: 0 0 30px rgba(0,0,0,.15);
                    background: $white;
                    top: 50%;
                    margin-top: -135px;
                    right: -30px;
                    & span.years {
                        display: block;
                        font-size: 1.4rem;
                        color: $primary-color;
                        &:after {
                            content: "";
                            margin-top: 4px;
                            width: 38px;
                            height: 2px;
                            background: $primary-color;
                            display: block;
                        }
                    }
                    & img {
                        max-width: 45px;
                    }
                    & p {
                        font-size: 2rem;
                        & strong {
                            font-size: 6rem;
                            font-family: $primary-font;
                            font-weight: 400;
                            display: block;
                        }
                    }
                }
            }
            & p {
                margin-bottom: 3rem;
            }
            & .main__buttons {
                display: flex;
                column-gap: 1.6rem;
            }
        }
    }
    blockquote {
        background: $gray3;
        padding: 7rem 0;
        text-align: center;
        & .container {
            justify-content: center;
            & p {
                font-size: 2.8rem;
            }
            & cite {
                font-size: 3rem;
                font-family: $primary-font;
                color: $secondary-color;
                font-style: italic;
            }
        }
    }

    & .home-areas {
        &__area {
            border: 1px solid $gray2;
            padding: 5rem 3rem;
            & a {
                text-decoration: none;
                & h3 {
                    font-size: 2.4rem;
                    font-family: $secondary-font;
                    color: $primary-color;
                }
            }
        }
    }

}
