// Colors
$primary-color: #202938;
$secondary-color: #B49564;
$terciary-color: #DBE1E9;

$black: #131313;
$white: white;
$gray1: #F5F5F5;
$gray2: #E6E6E6;
$gray3: #D9D9D9;
$blue:  #667186;


// Fonts
$primary-font: "PT Serif", serif;
$secondary-font: "Roboto", sans-serif;