// Colors
$secondary-color: #B49564;

$black: #131313;
$white: white;
$gray1: #f2f2f2;
$gray2: #8C8C8C;
$gray3: #E7E7E7;
$orange: #E08369;
$green: #124534;


// Fonts
$primary-font: "PT Serif", serif;
$secondary-font: "Inter", serif;