// Colors
$primary-color: #202938;
$secondary-color: #B49564;

$black: #131313;
$white: white;
$gray1: #F5F5F5;
$gray2: #E6E6E6;
$gray3: #EAEAEA;


// Fonts
$primary-font: "PT Serif", serif;
$secondary-font: "Roboto", sans-serif;